<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sds.mapper.RiskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sds.entity.Risk">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="company_id" property="companyId" />
        <result column="area_id" property="areaId" />
        <result column="title" property="title" />
        <result column="admin_user_id" property="adminUserId" />
        <result column="admin_user_name" property="adminUserName" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="duplicate_flag" property="duplicateFlag" />
        <result column="duplicate_risk_id" property="duplicateRiskId" />
    </resultMap>

</mapper>
