<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sds.mapper.WorkLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sds.entity.WorkLog">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="work_id" property="workId" />
        <result column="content" property="content" />
        <result column="operate_user_id" property="operateUserId" />
        <result column="operate_user_name" property="operateUserName" />
        <result column="to_id" property="toUserId" />
        <result column="to_user_name" property="toUserName" />
    </resultMap>

    <resultMap id="workLogVoMap" type="com.sds.vo.WorkLogVo">
        <association property="workLog" autoMapping="true" javaType="com.sds.entity.WorkLog"/>
        <collection property="workLogAttachmentList" autoMapping="true" ofType="com.sds.entity.WorkLogAttachment"/>
    </resultMap>

    <select id="selectWorkLogVo" resultMap="workLogVoMap">
        SELECT * FROM work_log wl
        LEFT JOIN work_log_attachment wla on wla.work_log_id = wl.id
        <where>
            wl.company_id = #{companyId}
            AND
            wl.work_id = #{workId}
        </where>
    </select>
</mapper>
